.navigation {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100px;
    background-color:rgb(255, 255, 255);
    color: rgb(22, 22, 22);
    z-index: 2;
}

.navone {
    left: 0;
}

.expanded {
    width: 300px;
}

.navtwo {
    right: 0;
}

.logo {
    position: absolute;
    padding: 10px;
    margin-top: 10px;
    left: 15px;
    font-size: 20px;
    font-weight: bolder;
  }
  

.media {
    position: absolute;
    width: 100px;
    height: 100vh;
    left: 0;
    top: 0;
}

.media i {
    margin-top: 50vh;
    margin-left: 45px;
    transform:scale(1.5);
    color: rgb(22, 22, 22);
}

.media i:hover{
    transition: 0.3s;
    color: rgb(82, 82, 82);
}

.fa-shopping-bag::after{
    position:absolute;
    right:-12px;
    top:-12px;
    max-width: 10px;
    max-height: 10px;
    line-height:8px;
    padding:5px;
    color:#fff;
    background-color:#da2c2c;
    font-size:8px;
    border-radius:20px;
    content:attr(data-badge);
    border:solid 1px #c93a3a;
}

