.box {
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow:  8px 8px 30px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.productImage {
    flex: 2;
    height: 177px;
    width: 177px;
}

.productText {
    flex: 1;
    margin-top: 10px;
}

.productText button{
    margin-top: 20px;
    font-family: 'Montserrat' !important;
    border: none;
    width: 177px;
    height: auto;
    padding: 10px 0;
    border-radius: 20px;
    background-color: #0071e3;
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.productText button:hover {
    transition: 0.3s;
    background-color: #2391ff;
}


