.shoeTileGrid {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-color: rgb(230, 230, 230);
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

.shoeTileGrid .one {
    padding-left: 100px;
}

.shoeTileGrid .one .something {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #B4E5FB;
}

.shoeTileGrid .one .something h1 {
    position: absolute;
    top: 8%;
    left: 10%;
    font-size: 50px;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(36, 36, 36);
    letter-spacing: 3px;
}

.shoeTileGrid .one .something img {
    position: absolute;
    bottom: 10%;
    width: 100%;
    transform: scale(1.2);
    -webkit-filter: drop-shadow(18px 28px 1px rgba(0, 0, 0, 0.855));
    filter: drop-shadow(20px 5px 10px rgba(0, 0, 0, 0.15));
}

.shoeTileGrid .one .something h3{
    position: absolute;
    bottom: 8%;
    right: 10%;
    color: rgb(61, 61, 61);
    font-weight: 400;
    font-size: 13px;
    text-align: right;
}

.shoeTileGrid .one .something h3 span{
    color: rgb(61, 61, 61);
    font-size: 18px;
    font-weight: 600;
}



.shoeTileGrid .two {
    padding-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 4fr 4fr 2fr;
}

.shoeTileGrid .two .smallShoe {
    display: grid;
    place-items: center;
    position: relative;
    
    
}

.shoeTileGrid .two .smallShoe:hover {
    transition: 0.5s;
    box-shadow: inset 0px -20px  60px 4px #0000002a;
}

.hide {
    position: absolute;
    bottom: 0px;
    opacity: 0;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-shadow: 1px 2px  10px #00000042;
}

.shoeTileGrid .two .smallShoe img:hover + .hide {
    transition: 0.5s;
    transform: translateY(-20px);
    opacity: 1;
}



.shoeTileGrid .two .three{
    background-color: #D6C4EA;
}

.shoeTileGrid .two .four{
    background-color: #FEEEB2;
}

.shoeTileGrid .two .five{
    background-color: #c7fdc2;
}

.shoeTileGrid .two .six{
    background-color: #FFCED2;
}

.shoeTileGrid .two .seven{
    background-color: #f0ff65;
}


.shoeTileGrid .two .smallShoe img{
    width: 90%;
    -webkit-filter: drop-shadow(18px 28px 1px rgba(0, 0, 0, 0.855));
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.15));
    transition: 0.5s;
}

.shoeTileGrid .two .smallShoe img:hover{
    transition: 0.5s;
    transform: translateY(-30px);
}

.shoeTileGrid .two .shoeQuote {
    grid-column: 2 span;
    display: grid;
    place-items: center;
}

.shoeTileGrid .two .shoeQuote h1 {
    color: rgb(41, 41, 41);
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.shoeTileGrid .two .shoeQuote h1 span{
    font-size: 30px;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(65, 65, 65);
    letter-spacing: 3px;
}